%btn {
    display: block;
    border: none;
    text-align: center;
    transition: all 0.5s ease;
    margin: $margin-center;
    cursor: pointer;
    color: $white;
    &:disabled {
        cursor: not-allowed;
    }
}

%btn-text {
    text-transform: uppercase;
    border-radius: 18px;
    padding: 5px 18px;
    background: $blue;
    font: 400 14px/26px $secondary-fonts;
    letter-spacing: 2px;
    text-align: center;
}

